.prodotti-container {
  .prodotti-description {
    padding: 0 30%;
    .prodotti-title {
      text-align: center;
      text-transform: uppercase;
      color: rgb(185, 134, 125);
      margin-top: 2em;
      font-weight: 300;
    }
    .prodotti-slogan {
      padding: 1.5em 0;
      text-align: center;
      font-weight: 300;
      padding-bottom: 3em;
    }
    p {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .prodotti-last-slogan {
      margin: 4rem 0;
      width: 100%;
      display: flex;
      justify-content: center;
      color: rgb(185, 134, 125);
      text-align: center;
      font-family: "Autography";
      font-size: 1.8em;
      font-weight: 100;
    }
  }
  .prodotti-image {
    height: 70vh;
    width: 100%;
    display: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .products-title {
    background-color: rgb(185, 134, 125);
    max-width: 300px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    text-transform: uppercase;
    color: white;
    
  }
  .product-list-container {
    padding: 5rem 0;
    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1rem;
      margin:0 5%;
      .product-card {
        height: 480px;
        max-height: 580px;
        min-height: 480px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
        }
        :hover {
          filter: grayscale(3);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .prodotti-container {
    .prodotti-description {
      padding: 0 5%;
      .prodotti-title {
        text-align: center;
        text-transform: uppercase;
        color: rgb(185, 134, 125);
        margin-top: 2em;
        font-weight: 300;
      }
      .prodotti-slogan {
        text-align: center;
        font-weight: 300;
      }
      p {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .prodotti-last-slogan {
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(185, 134, 125);
        text-align: center;
        font-family: "Autography";
        font-size: 1.8em;
        font-weight: 100;
      }
    }
  }
}
